* {
    font-family: courier;  
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;  
}

body {
    margin: 0;
    color: rgb(49,64,74);    
}

.title {
    border-bottom: 5px solid black;
    text-align: center;
    width: 100%;
    position: sticky;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.nav-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.nav-link {
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
}

.nav-container .nav-link {
    border: 1px solid gray;
    background-color: lightgray;
    cursor: pointer;
    padding: 10px;
}

.nav-container .nav-link:hover {
    background-color: #2188FF;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.main-section p {
    text-align: center;
}

.nav-link p {
    font-weight: bold;
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin: auto;
}

.resources-button {
    background-color: lightblue;
    transition-duration: 1s;
    border: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.resources-button:hover {
    background-color: #2188FF;
    cursor: pointer;
}

h1 {
    font-family: Georgia, sans-serif;
    margin: auto;
    text-align: center;
}

.donate {
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

.programs-title {
    text-align: center;
    font-family: Georgia;
}

.stemx-img {
    border: solid #2188FF 5px;
    width: 98%;
    max-width: 1200px;
    height: auto;
    max-height: 700px;
    margin: auto;
}

.stem-x-img-amari {
    height: auto;
    max-height: 700px;
    width: 98%;
    max-width: 1200px;
    margin: auto;
    border: 5px solid #2188FF;
}

.stemx-img-amari:hover {
    transition: 0.7s;
    opacity: 0.75;
}

.stemx-img-laptops:hover {
    transition: 0.7s;
    opacity: 0.75;
}

.img-a {
    margin: auto;
    max-height: 700px;
}

footer {
    background-color: gray;
}

.donate {
    float: right;
}

.footer-logo {
    max-width: 600px;
    max-height: 200px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.banner {
    width: 100%;
    max-height: 30dvh;
}

footer p {
    padding: 10px;
    text-align: center;
}

footer {
    border-top: 3px solid black;
}

.border {
    color: black;
    border: solid black 2.5px;
    width: 95%;
    margin: auto;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.programs-border {
    border: solid gray 1.75px;
    width: 95%;
    margin: auto;
    margin-top: 16px;

}

#body-contact p {
    word-wrap: break-word;
}

.about-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-family: georgia;
}

.donate-title {
    padding-top: 20px;
}

.donate-button-container {
    margin: auto;
    width: 95%;
}

.donate-button {
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 6px;
    background-color:#2188FF;
    margin-top: 15px;
    cursor: pointer;
}

.donate-button-text {
    font-family: georgia;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.about-text {
    height: 100%;
    align-items: center;
    margin: auto;
    padding-bottom: 5px;
}

.about-pic {
    height: auto;
    width: 98%;
    max-width: 1200px;
    margin: auto;
    border: 5px solid #2188FF;
}

.sm-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.sm-block {
    display: block;
    width: 95%;
    flex-wrap: nowrap;
    margin: auto;
}

.bold {
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    text-decoration: none;
}

/*mobile phone conditions below */

@media screen and (min-width: 435px) {
    .about-pic {
        height: 40vh;
    }

    .sm-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 435px) {
    .sm-container {
        flex-direction: column;
    }
}
