* {
    font-family: courier;  
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;  
}

body {
    margin: 0;
    color: rgb(49,64,74);    
}

/*home page css down below
* anything with support- in front is for the support page*/

.title {
    border-bottom: 5px solid black;
    text-align: center;
    width: 100%;
    position: sticky;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.nav-container {
    padding-top: 15px;
    position: static;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
}

.nav-link {
    width: 100%;
    text-align: center;
    transition-duration: 0.3s;
}

.nav-container .nav-link {
    border: 1px solid gray;
    background-color: lightgray;
    cursor: pointer;
    padding: 10px;
}

.nav-container .nav-link:hover {
    background-color: #2188FF;
}

.main-section {
    display: flex;
    flex-direction: column;
}

.main-section p {
    text-align: center;
}

.nav-link p {
    font-weight: bold;
    font-size: 10px;
    color: black;
    text-decoration: none;
    margin: auto;
}

.resources-button a {
    text-decoration: none;
    color: black;
}

.resources-button {
    background-color: lightblue;
    transition-duration: 1s;
    border: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    text-decoration: none;
}

.resources-button:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.home-title {
    font-family: Georgia, sans-serif;
    margin: auto;
    text-align: center;
}

.donate {
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
}

.programs-title {
    text-align: center;
    font-family: Georgia;
}

.stemx-img {
    border: solid #2188FF 5px;
    width: 98%;
    max-width: 1200px;
    height: auto;
    max-height: 700px;
    margin: auto;
}

.stem-x-img-amari {
    height: auto;
    max-height: 700px;
    width: 98%;
    max-width: 1200px;
    margin: auto;
    border: 5px solid #2188FF;
}

.stemx-img-amari:hover {
    transition: 0.7s;
    opacity: 0.75;
}

.stemx-img-laptops:hover {
    transition: 0.7s;
    opacity: 0.75;
}

.img-a {
    margin: auto;
    max-height: 700px;
}

footer {
    background-color: gray;
}

.donate {
    float: right;
}

.footer-logo {
    max-width: 600px;
    max-height: 200px;
    width: 90%;
    height: auto;
    display: block;
    margin: auto;
}

.banner {
    width: 100%;
    max-height: 30dvh;
}

footer p {
    padding: 10px;
    text-align: center;
    color: black;
}

footer {
    border-top: 3px solid black;
}

.border {
    color: black;
    border: solid black 2.5px;
    width: 95%;
    margin: auto;
    margin-top: 12.5px;
    margin-bottom: 12.5px;
}

.programs-border {
    border: solid gray 1.75px;
    width: 95%;
    margin: auto;
    margin-top: 16px;

}

#body-contact p {
    word-wrap: break-word;
}

.about-title {
    text-align: center;
    width: 100%;
    font-weight: bold;
    font-family: georgia;
}

.donate-title {
    padding-top: 20px;
}

.donate-button-container {
    margin: auto;
    width: 95%;
}

.donate-button-container a {
    text-decoration: none;
    color: black;
}

.merch-button-container a {
    text-decoration: none;
    color: black;
}

.donate-button {
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 6px;
    background-color:#2188FF;
    cursor: pointer;
}

.donate-button:hover {
    transition-duration: 0.5s;
    background-color: lightblue;
}

.donate-button-text {
    font-family: georgia;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.merch-button-container {
    margin: auto;
    width: 95%;
}

.merch-button {
    width: 100%;
    text-align: center;
    border: 2px solid gray;
    border-radius: 6px;
    background-color: #2188FF;
    cursor: pointer;
}

.merch-button:hover {
    transition-duration: 0.5s;
    background-color: lightblue;
}

.merch-button-text {
    font-family: georgia;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.about-text {
    height: 100%;
    align-items: center;
    margin: auto;
    padding-bottom: 5px;
}

.about-pic {
    height: auto;
    width: 98%;
    max-width: 1200px;
    margin: auto;
    border: 5px solid #2188FF;
}

.sm-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.sm-block {
    display: block;
    width: 95%;
    flex-wrap: nowrap;
    margin: auto;
}

.bold {
    font-weight: bold;
    font-size: 24px;
    margin-top: 25px;
    text-decoration: none;
}

/*beginning of the support page css*/

.support-title {
    font-family: Georgia, sans-serif;
    padding-left: 20px;
    color: black;
    font-size: 64px;
}

.support-welcome-description {
    font-family: Georgia, sans-serif;
    padding-left: 10px;
    font-size: 24px;
}

.support-button-container {
    display: flex;
    text-decoration: none;
}

.support-button {
    justify-content: center;
    width: 30%;
    border-radius: 8px;
    border: 2px solid #2188FF;
    transition-duration: 0.3s;
    margin: 1.5vw;
    text-decoration: none;
    font-size: 16px;
}

.support-button a {
    border: 3px solid black;
}

.support-button button {
    width: 90%;
}

.support-button button:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.support-button-container a {
    text-decoration: none;
    color: black;
}

.support-section-info h3 {
    padding-left: 10px;
    font-family: Georgia, sans-serif;
    color: black;
    font-size: 36px;
}

.support-section-info h2 {
    padding-left: 15px;
    font-family: Georgia, sans-serif;
    color: black;
    font-size: 48px;
}

.support-section-info p {
    font-family: Georgia, sans-serif;
    padding-left: 8px;
    font-size: 24px;
}

/*beginning of merch style conditions*/

.merch-title {
    font-family: Georgia, sans-serif;
    padding-left: 15px;
    color: black;
    font-size: 64px;
}

.merch-item-container {
    position: static;
    display: flex;
    justify-content: center;
    align-items: stretch;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

.merch-item-container img {
    margin: 5px;
    transition-duration: 0.3s;
    width: 200px;
    height: 300px;
}

.merch-item-container p {
    text-align: left;
    margin: 5px;
    padding-left: 5px;
    font-size: 28px;
    font-family: Georgia, sans-serif;
}

.merch-item-container-div {
    text-align: center;
    justify-content: center;
    margin: 5px;
    position: relative;
    max-width: 300px;
}

.merch-item-container button {
    margin-bottom: 10px;
    border: 2px solid #2188FF;
    border-radius: 8px;
    transition-duration: 0.3s;
    text-decoration: none;
    justify-content: flex-start;
    width: 90%;
}

.merch-item-container button:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.merch-item-description {
    opacity: 50%;
}

.merch-item-container-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border: 3px solid black;
    scrollbar-width: none;
}

.merch-item-container-slider img {
    flex: 1 0 100%;
    scroll-snap-align: start;
}

.merch-item-container-slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 185px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.merch-item-container-slider-nav a {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #2188FF;
    opacity: 0.75;
    transition: opacity ease 250ms;
}

.merch-item-container-slider-nav a:hover {
    opacity: 100%;
}

.merch-cart-button-container {
    text-align: center;
    display: block;
}

.merch-cart-open {
    width: 90%;
    border: 2px solid #2188FF;
    border-radius: 8px;
    transition-duration: 0.3s;
    font-size: 18px;
}

.merch-cart-open:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.merch-cart-close {
    width: 45%;
    margin: auto;
    border: 2px solid #2188FF;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.merch-cart-close:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.merch-cart-checkout {
    width: 45%;
    margin: auto;
    border: 2px solid #2188FF;
    border-radius: 8px;
    transition-duration: 0.3s;
}

.merch-cart-checkout:hover {
    background-color: #2188FF;
    cursor: pointer;
}

#merch-cart {
    background-color: gray;
    height: 45%;
    transition-duration: 0.5s;
}

.merch-cart-view {
    text-align: center;
    transition-duration: 0.5s;
}

.merch-cart-view button {
    font-size: 18px;
    
}

.merch-cart-item {
    padding-left: 2px;
    color: black;
    font-weight: bold;
    font-size: 48px;
    margin: 5px;
    transition-duration: 0.4s;
}

.merch-cart-qty-block {
    font-size: 32px;
    padding-left: 8px;
    margin: 10px;
    transition-duration: 0.3s;
}

.merch-cart-qty-change {
    width: 33%;
    border: 2px solid #2188FF;
    border-radius: 16px;
    transition-duration: 0.3s;
}

.merch-cart-qty-change:hover {
    background-color: #2188FF;
    cursor: pointer;
}

.merch-cart-size-selection {
    font-size: 22px;
    color: black;
}

.merch-cart-size-selection div {
    border: 2px solid black;
    width: 30%;
    display: inline-block;
    transition-duration: 0.4s;
    margin-bottom: 10px;
    border-radius: 8px;
    font-size: 22px;
}

.merch-cart-size-selection div:hover {
    background-color: #2188FF;
}

.merch-cart-size-selection input:hover {
    cursor: pointer;
}

.merch-item-size-selection {
    font-size: 18px;
    color: black;
}

.merch-item-size-selection div {
    border: 2px solid black;
    width: 25%;
    display: inline-block;
    transition-duration: 0.4s;
    border-radius: 8px;
    margin-bottom: 5px;
}

.merch-item-size-selection div:hover {
    background-color: #2188FF;
}

.merch-item-size-selection input:hover {
    cursor: pointer;
}

.merch-item-size-selection p {
    text-align: center;
}

/*mobile phone conditions below */

@media screen and (min-width: 435px) {
    .about-pic {
        height: 40vh;
    }

    .sm-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 435px) {
    .sm-container {
        flex-direction: column;
    }

    /*mobile support conditions*/

    .support-title {
        font-size: 36px;
        text-align: center;
        padding-left: 0px;
    }

    .support-welcome-description {
        font-family: Georgia, sans-serif;
        padding-left: 10px;
        font-size: 18px;
        margin: 10px;
    }
    
    .support-section-info h3 {
        font-family: Georgia, sans-serif;
        color: black;
        font-size: 24px;
        text-align: center;
        margin: 20px;
    }

    .support-section-info h2 {
        font-family: Georgia, sans-serif;
        color: black;
        font-size: 30px;
        text-align: center;
    }

    .support-section-info p {
        font-family: Georgia, sans-serif;
        font-size: 18px;
        margin: 10px;
    }

    .support-center {
        text-align: center;
    }

    /*mobile merch conditions*/

    .merch-item-container-div {
        text-align: center;
        justify-content: center;
        margin-top: 15px;
        position: relative;
        max-width: 250px;
    }

    .merch-item-container img {
        width: 150px;
        height: 150px;
    }

    .merch-item-container p {
        font-size: 14px;
    }

    .merch-item-container button {
        margin-top: 8px;
    }

    .merch-item-container-slider-nav {
        bottom: 150px;
    }

    .merch-cart-item {
        font-size: 24px;
    }

    .merch-cart-qty-block {
        font-size: 16px;
    }

    .merch-cart-view button {
        font-size: 14px;
    }

    .merch-cart-qty-change {
        font-size: 6px;
    }

    .merch-cart-size-selection {
        font-size: 14px;
        color: black;
    }

    .merch-cart-size-selection div {
        width: 20%;
        font-size: 16px;
    }

    .merch-cart-size-selection div:hover {
        background-color: #2188FF;
    }

    
}
